<div class="grid">
	<div class="col-12">
	  <div class="card">
		<h5> {{ this.buttonValue }} sucursal </h5>
		<form [formGroup]="formGroup" (ngSubmit)="submitForm()">
		  <div class="p-fluid p-formgrid grid">

				<div class="field col-12 md:col-4">
					<label> Empresa </label>
					<p-dropdown [formControlName]="'idEnterprise'" [id]="'state'" [options]="enterpriseList" optionLabel="name" optionValue="id"></p-dropdown>
				</div>

			<div class="field col-12 md:col-4">
				<label> Nombre </label>
				<input pInputText [formControlName]="'name'" [id]="'name'"/>

				<small id="username-help" class="p-error" *ngIf="formGroup.get('name').invalid && formGroup.get('name').touched">
					Requerido. Máximo 120 caracteres.
				</small>
            </div>

            <div class="field col-12 md:col-4">
                <label> Ubicación </label>
				<input pInputText [formControlName]="'location'" [id]="'location'" maxlength="255"/>
            </div>

            <div class="field col-12 md:col-4">
                <label> Número telefónico </label>
				<input pInputText [formControlName]="'phoneNumber'" [id]="'phoneNumber'"/>

				<small id="username-help" class="p-error" *ngIf="formGroup.get('phoneNumber').invalid && formGroup.get('phoneNumber').touched">
					Requerido. Numérico 20 caracteres.
				</small>
            </div>

            <div class="field col-12 md:col-4">	
                <label> Facturan </label>
                <div>
					<p-toggleButton [formControlName]="'invoice'" [id]="'invoice'" [(ngModel)]="valToggle" onLabel="Si" offLabel="No" ></p-toggleButton>
				</div>
            </div>

            <div class="field col-12 md:col-4" *ngIf="valToggle">
                <label> Código impuestos nacionales </label>
				<input pInputText [formControlName]="'inCode'" [id]="'inCode'" maxlength="255"/>
            </div>

			<div class="field col-12 md:col-4" *ngIf="this.componentBehaviour === 'update'">	
                <label> Estado </label>
				<p-dropdown [formControlName]="'state'" [id]="'state'" [options]="states" optionLabel="name" optionValue="code" [(ngModel)]="selectedState"></p-dropdown>
            </div>
            
		  </div>
		  <button pButton type="submit" [label]="this.buttonValue" [disabled]="!formGroup.valid"></button>
		</form>
	  </div>
	</div>
  </div>
  