<div class="grid">
	<div class="col-12">
	    <div class="card">
            <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-12">
                        <input pInputText [formControlName]="'filter'" [id]="'filter'"/>
                    </div>
                </div>
                <div>
                    <input pButton pRipple type="submit" class="submit" value="Buscar" [disabled]="!formGroup.valid">
                </div>
            </form>
        </div>
    </div>
</div>