<form [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <p-card>
    <h5> Producto: {{ this.productName }}  </h5>


    <div class="p-fluid p-formgrid grid">

        <div class="field col-12 md:col-4">
            <label> Empresa </label>
            <p-dropdown [formControlName]="'idEnterprise'" [id]="'state'" [options]="enterpriseList" optionLabel="name" optionValue="id" (onChange)="getBranchOfficeCombo($event)" emptyMessage="No se encontraron empresas."></p-dropdown>
        </div>

        <div class="field col-12 md:col-4">
            <label> Sucursal </label>
            <p-dropdown [formControlName]="'idBranchOffice'" [id]="'state'" [options]="branchOfficeList" optionLabel="name" optionValue="id" emptyMessage="No existen resultados." (onChange)="onBranchOfficeChange($event)"></p-dropdown>
        
            <small id="username-help" class="p-error" *ngIf="formGroup.get('idBranchOffice').invalid && formGroup.get('idBranchOffice').touched">
                Requerido.
            </small>
        </div>

        <div class="field col-12 md:col-4">
            <label> Sku/código producto </label>
            <input pInputText [formControlName]="'productCode'" [id]="'productCode'"/>

            <small id="username-help" class="p-error" *ngIf="formGroup.get('productCode').invalid && formGroup.get('productCode').touched">
                Requerido. Máximo 6 caracteres.
            </small>
        </div>

        <div class="field col-12 md:col-4">
            <label> Mínimo </label>
            <p-inputNumber  [formControlName]="'minProduct'" mode="decimal" inputId="withoutgrouping" [useGrouping]="false" max="9999"/>

            <small id="username-help" class="p-error" *ngIf="formGroup.get('minProduct').invalid && formGroup.get('minProduct').touched">
                Requerido. Mayor a 0.
            </small>
        </div>

        <div class="field col-12 md:col-4">
            <label> Máximo </label>
            <p-inputNumber  [formControlName]="'maxProduct'" mode="decimal" inputId="withoutgrouping" [useGrouping]="false" max="9999"/>

            <small id="username-help" class="p-error" *ngIf="formGroup.get('maxProduct').invalid && formGroup.get('maxProduct').touched">
                Requerido. Mayor a 0.
            </small>
        </div>

        <div class="field col-12 md:col-4" *ngIf="this.formGroup.value.actualStock != 0">
            <label> Stock actual </label>
            <p-inputNumber [formControlName]="'actualStock'" mode="decimal" inputId="withoutgrouping" [useGrouping]="false" [readonly]="true"/>

            <small id="username-help" class="p-error" *ngIf="formGroup.get('actualStock').invalid && formGroup.get('actualStock').touched">
                Requerido. Mayor a 0.
            </small>
        </div>

        <div class="field col-12 md:col-4">
            <label> Actualizar stock </label>
            <p-inputNumber  [formControlName]="'stock'" mode="decimal" inputId="withoutgrouping" [useGrouping]="false" max="9999"/>

            <small id="username-help" class="p-error" *ngIf="formGroup.get('stock').invalid && formGroup.get('stock').touched">
                Requerido. Mayor a 0.
            </small>
        </div>

        <div class="field col-12 md:col-4">
            <label> Costo unitario </label>
            <p-inputNumber  [formControlName]="'unitaryCost'" mode="currency" currency="BOB" locale="en-US" minFractionDigits="2" max="999.99"/>

            <small id="username-help" class="p-error" *ngIf="formGroup.get('unitaryCost').invalid && formGroup.get('unitaryCost').touched">
                Requerido. Mayor a 0. Mínimo 2 decimales.
            </small>
        </div>

    </div>
    </p-card>
    <p-toolbar>
        <div class="p-toolbar-group-left">
            <p-button label="Atrás" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
        </div>
        <div class="p-toolbar-group-right">
            <p-button type="submit" [label]="this.buttonValue" [disabled]="!formGroup.valid"/>   
        </div>
    </p-toolbar>
</form>

<div class="col-6  flex justify-content-center">
    <p-toast/>
</div>