<div class="grid">
	<div class="col-12">
	    <div class="card" *ngIf="formValue">
            <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-4">
                        <label> Nombre producto </label>
                        <input pInputText [formControlName]="'productName'" [id]="'productName'" readonly/>
                    </div>

                    <div class="field col-12 md:col-4">
                        <label> Categoría </label>
                        <input pInputText [formControlName]="'productCategory'" [id]="'productCategory'" readonly/>
                    </div>

                    <div class="field col-12 md:col-4">
                        <label> Stock </label>
                        <p-inputNumber  [formControlName]="'stock'" mode="decimal" inputId="withoutgrouping" [useGrouping]="false"/>
    
                        <small id="username-help" class="p-error" *ngIf="formGroup.get('stock').invalid && formGroup.get('stock').touched">
                            Requerido. Mayor a 0.
                        </small>
                    </div>

                    <div class="field col-12 md:col-4">
                        <label> Cantidad mínima </label>
                        <p-inputNumber  [formControlName]="'minProduct'" mode="decimal" inputId="withoutgrouping" [useGrouping]="false"/>
    
                        <small id="username-help" class="p-error" *ngIf="formGroup.get('minProduct').invalid && formGroup.get('minProduct').touched">
                            Requerido. Mayor a 0.
                        </small>
                    </div>
    
                    <div class="field col-12 md:col-4">
                        <label> Cantidad máxima </label>
                        <p-inputNumber  [formControlName]="'maxProduct'" mode="decimal" inputId="withoutgrouping" [useGrouping]="false"/>
    
                        <small id="username-help" class="p-error" *ngIf="formGroup.get('maxProduct').invalid && formGroup.get('maxProduct').touched">
                            Requerido. Mayor a 0.
                        </small>
                    </div>

                    <div class="field col-12 md:col-4">
                        <label> Costo unitario </label>
                        <p-inputNumber  [formControlName]="'unitaryCost'" mode="currency" currency="BOB" locale="en-US" minFractionDigits="2" max="999.99"/>
    
                        <small id="username-help" class="p-error" *ngIf="formGroup.get('unitaryCost').invalid && formGroup.get('unitaryCost').touched">
                            Requerido. Mayor a 0. Mínimo 2 decimales.
                        </small>
                    </div>
                    
                    <div class="col-6  flex justify-content-center">
                        <p-toast/>
                        <input pButton pRipple type="submit" class="submit" value="Actualizar" [disabled]="!formGroup.valid">
                    </div>
                </div>
            </form>
        </div>
    </div>