.customer-badge {
    border-radius: 2px;
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.status-pending {
        background-color: #FEEDAF;
        color: #8A5340;
    }

    &.status-accepted {
        background-color: #C8E6C9;
        color: #256029;
    }

    &.status-rejected {
        background-color: #FFCDD2;
        color: #C63737;
    }

    &.status-partially_damaged {
        background-color: #FFD8B2;
        color: #805B36;
    }
}
